
        body {
            padding: 5px 30px;
        }

        .formdesign {
            font-size: 15px;
            background-color: aquamarine;

        }

        .formdesign input {
            
            width:20%;
            padding: 6px 10px;
            border: 2px solid black;
            margin: 14px;
            border-radius: 4px;
            font-size: 10px;
        }

        .formerror {
            color: red;
        }

        .but {
            border-radius: 9px;
            width: 100px;
            height: 50px;
            font-size: 25px;
            margin: 22px 20px;
        }
        .head{
            background-color: chartreuse;
        }
